.elevationtool span
{
    display: none;
}

.elevationtool .sketch,
.elevationtool .huc,
.elevationtool .clu
{
    width: 31px;
    height: 31px;
    padding: 0;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1.0);
    background-repeat: no-repeat;
    background-position: center center;

         -o-border-radius: 5px;
}

.elevationtool .sketch
{
    background-image: url(../images/sketch.png);
}

.elevationtool .huc
{
    background-image: url(../images/huc.png);
}

.elevationtool .clu
{
    background-image: url(../images/clu.png);
}

.elevationtool .sketch:hover
{
    background-color: #eee;
    background-color: rgba(238, 238, 238, 1.0);
}

.elevationtool .sketch:active
{
    background-color: #ccc;
    background-color: rgba(102, 102, 102, 1.0);
}

.elevationtool .huc:hover
{
    background-color: #eee;
    background-color: rgba(238, 238, 238, 1.0);
}

.elevationtool .huc:active
{
    background-color: #ccc;
    background-color: rgba(102, 102, 102, 1.0);
}

.elevationtool .clu:hover
{
    background-color: #eee;
    background-color: rgba(238, 238, 238, 1.0);
}

.elevationtool .clu:active
{
    background-color: #ccc;
    background-color: rgba(102, 102, 102, 1.0);
}

.elevationtool .elevationContainer
{
    display: inline-block;

    width: 31px;
    height: 31px;
    margin: 4px 4px;

    border: 1px solid #57585a;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
