<div style="padding: 5px;">
Source dataset:
<div>
<select data-dojo-type='dijit/form/FilteringSelect' id="{{ domID }}_dataSelect">
{% for ds in datasets %}
    <option value="{{ ds.1 }}">{{ ds.0 }}</option>
{% endfor %}
</select>
</div>
</div>

<div style="padding: 5px;">
Spatial reference:
<div>
<select data-dojo-type='dijit/form/FilteringSelect' id="{{ domID }}_srsSelect">
{% for srs in spatial_refs %}
    <option value="{{ srs }}">{{ srs }}</option>
{% endfor %}
</select>
</div>
</div>

<div style="padding: 5px;">
Derivative products:
<div>
<input id="{{ domID }}_aspect" type='checkbox' value='aspect'>Aspect</input>
</div>
<div>
<input id="{{ domID }}_hillshade" type='checkbox' value='hillshade'>Hillshade</input>
</div>
<div>
<input id="{{ domID }}_slope_deg" type='checkbox' value='slope_degrees'>Slope degrees</input>
</div>
<div>
<input id="{{ domID }}_slope_per" type='checkbox' value='slope_percent'>Slope percent</input>
</div>
<div>
<input id="{{ domID }}_contours" type='checkbox' value='Contours'>Contours</input>
</div>
<div>
Interval:
<input id="{{ domID }}_interval" type='text' data-dojo-type="dijit/form/NumberTextBox" value='10'></input>
</div>
</div>

<hr>
<div>
<button onclick="
require(['dijit/registry', 'dijit/form/NumberTextBox'], function(registry, NumberTextBox) {
    var dlg = dijit.byId('{{ domID }}_dialog');
    var widget = registry.byId('{{ domID }}');
    widget._set('deOpts', {'features': widget.aoi.Features, 'Dataset': dijit.byId('{{ domID }}_dataSelect').get('value'), 'Spatial_Reference': dijit.byId('{{ domID }}_srsSelect').get('value'),
    'aspect': dojo.byId('{{ domID }}_aspect').checked, 'hillshade': dojo.byId('{{ domID }}_hillshade').checked, 'slope_degrees': dojo.byId('{{ domID }}_slope_deg').checked, 'slope_percent': dojo.byId('{{ domID }}_slope_per').checked, 'contours': dojo.byId('{{ domID }}_contours').checked, 'contour_interval': dijit.byId('{{ domID }}_interval').get('value')}); dlg.hide();
});
">Submit request</button>
</div>
