<div class="${theme}" role="presentation">
    <div class="${_css.container}">
            <div data-dojo-attach-point="_sketchNode" title="${_i18n.widgets.elevationtool.sketch.title}" role="button" class="${_css.sketch}"><span>${_i18n.widgets.elevationtool.sketch.button}</span></div>
    </div>
    <div class="${_css.container}">
            <div data-dojo-attach-point="_hucNode" title="${_i18n.widgets.elevationtool.huc.title}" role="button" class="${_css.huc}"><span>${_i18n.widgets.elevationtool.huc.button}</span></div>
    </div>
    <div class="${_css.container}">
            <div data-dojo-attach-point="_cluNode" title="${_i18n.widgets.elevationtool.clu.title}" role="button" class="${_css.clu}"><span>${_i18n.widgets.elevationtool.clu.button}</span></div>
    </div>
</div>
